.navbar-default{
	width: 100%;
	position: absolute;
	background-color: rgba(255,255,255, 0);
	border-color: rgba(255,255,255, 0);
}

.navbar-social{
	color: white;
  	font-size: 30pt;	
}

.llamadigital{
	width: 90px;
  	opacity: 0.5;
  	vertical-align: text-top;
}

.box-video{
	box-shadow: 0px 0px 25px 15px rgba(0, 158, 227, 0.39);
}

.title-1{
	font-family: 'Francois One', sans-serif;
}

.title-header{
	color: rgb(167, 232, 255);
}

.subtitle-header{
	font-size: 23pt;
  	margin: 25px 0;
}

.btn-contact{
	font-size: 16px;
}

.allgreenup-title{
	margin-top: 45px;
}

.test{
	color: white;
}

@media screen and (max-width:1200px) {
    .banner h2{
    	font-size: 26pt;
    }
}